<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Billabong | Dev Challenge</title>
    <meta name="description" content="A good description for search engines to read.">
    <meta name="keywords" content="Some, keywords, for, search, engines">
    <meta property="og:image" content="http://us.billabong.com">
    <meta itemprop="image" content="sample.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="A good description for search engines to read.">
    <meta property="og:title" content="Billabong | Dev Challenge">
    <meta itemprop="description" content="A good description for search engines to read.">
    <meta itemprop="name" content="Billabong | Dev Challenge">
</head>
<body>
    {{{body}}}
</body>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/handlebars/handlebars.min.js"></script>
<script src="/underscore/underscore-min.js"></script>
<script src="/backbone/backbone.js"></script>
<script src="/js/data.js"></script>
<!-- <script src="/js/main.js"></script> -->
<script src="/js/backbone-modeling.js"></script>
</html> 
